<!doctype html>
<html><head><title>Some Fractals</title><body>
<style>
body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}
</style>
<h2>Some Fractals with Low and High Resolution</h2>
<!--
{% if trans['text'] %}
    <h4>Previous translation</h4>
    <li><b>Original</b>:   {{ orig['text'] }}  (<i>{{ orig['lc'][0] }}</i>)</li>
    <li><b>Translated</b>: {{ trans['text'] }} (<i>{{ trans['lc'][0] }}</i>)</li>
{% endif %}

<h4>Enter <i>{{ orig['lc'][1] }}</i> text to translate to <i>{{ trans['lc'][1] }}</i>:</h4>
<form method="POST"><input name="text"><input type="submit"></form>
-->
<h4>Showing fractals of dragon, tree, and triangle in high and low resolution</h4>
<img src="https://storage.googleapis.com/fractals/dragon.png" alt="high dragon" width="1200" height="900">
<img src="https://storage.googleapis.com/fractals/dragon0.png" alt="low dragon" width="1200" height="900">
<img src="https://storage.googleapis.com/fractals/tree.png" alt="high tree" width="1200" height="900">
<img src="https://storage.googleapis.com/fractals/tree0.png" alt="low tree" width="1200" height="900">
<img src="https://storage.googleapis.com/fractals/triangle.png" alt="high triangle" width="1200" height="900">
<img src="https://storage.googleapis.com/fractals/triangle0.png" alt="low triangle" width="1200" height="900">

</body></html>
